<head> 
<title> ToDo App </title>
 <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
 <link href="styles.css" rel="stylesheet">
</head>

<body>
<div class="container">
<h2> A Simple ToDo List App </h2>

<form action ="/addtask" method="POST">

<input type="text" name="newtask" placeholder="add new task">
<button> Add Task </button>


<h2> Added Task </h2>

<% for( var i = 0; i < task.length; i++){ %>
    <% if (task[i].status == 'pending') {%>
    <li><input type="checkbox" name="check" value="<%= task[i].id %>" /> <%= task[i].task %> </li>
    <% } %>
<% } %>

<button formaction="/completeTask" type="submit" id="top"> Remove </button>
</form>

<h2> Completed task </h2>

 <% for(var i = 0; i < task.length; i++){ %>
    <% if (task[i].status == 'complete') {%>
    <li><input type="checkbox" checked><%= task[i].task %> </li>
    <% } %>
<% } %>

</div>

</body>