---
- name: Install Java on aws_nodejs_ec2
  hosts: aws_nodejs_ec2
  become: true
  tasks:
    - name: Update package cache (recommended before installing)
      dnf:
        update_cache: yes

    - name: Install java-17-amazon-corretto package
      dnf:
        name: java-17-amazon-corretto
        state: present

- name: Add Jenkins agents
  hosts: localhost
  # TODO: Change all the values to its correct values from your setup.
  vars:
    jenkins_url: "http://<jenkins-demo public ip or dns>:8080"
    jenkins_user: "< your_jenkins_username >"
    jenkins_token: "< your_jenkins_api_token >"
    jenkins_cli_path: "~/jenkins-cli.jar"
    agents:
      - name: "nodejs-mysql-us-east-1a"
        host: "<public ip address of nodejs-mysql-us-east-1a>"
      - name: "nodejs-mysql-us-east-1b"
        host: "<public ip address of nodejs-mysql-us-east-1b>"
      - name: "nodejs-mongodb-us-east-1a"
        host: "<public ip address of nodejs-mongodb-us-east-1a>"
      - name: "nodejs-mongodb-us-east-1b"
        host: "<public ip address of nodejs-mongodb-us-east-1a>"
  tasks:
    - name: Generate agent XML configuration
      set_fact:
        agent_config: |
          <slave>
            <name>{{ item.name }}</name>
            <description></description>
            <remoteFS>/home/ec2-user</remoteFS>
            <numExecutors>1</numExecutors>
            <mode>NORMAL</mode>
            <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
            <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@2.973.v0fa_8c0dea_f9f">
              <host>{{ item.host }}</host>
              <port>22</port>
              <credentialsId>ec2-user</credentialsId>
              <launchTimeoutSeconds>60</launchTimeoutSeconds>
              <maxNumRetries>10</maxNumRetries>
              <retryWaitTime>15</retryWaitTime>
              <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.NonVerifyingKeyVerificationStrategy"/>
              <tcpNoDelay>true</tcpNoDelay>
            </launcher>
            <label>{{ label }}</label>
            <nodeProperties>
              <hudson.node__monitors.DiskSpaceMonitorNodeProperty>
                <freeDiskSpaceThreshold>0</freeDiskSpaceThreshold>
                <freeTempSpaceThreshold>0</freeTempSpaceThreshold>
                <freeDiskSpaceWarningThreshold>0</freeDiskSpaceWarningThreshold>
                <freeTempSpaceWarningThreshold>0</freeTempSpaceWarningThreshold>
              </hudson.node__monitors.DiskSpaceMonitorNodeProperty>
            </nodeProperties>
          </slave>
      loop: "{{ agents }}"
      vars:
        label: "{{ 'blue-tg' if 'mysql' in item.name else 'green-tg' if 'mongodb' in item.name else '' }}"
      register: agent_configs

    - name: agent_configs
      debug:
        msg: "{{ agent_configs }}"

    - name: Create agent configuration files
      copy:
        content: "{{ item.ansible_facts.agent_config }}"
        dest: "./tmp/{{ item.item.name }}.xml"
      loop: "{{ agent_configs.results }}"
      loop_control:
        label: "{{ item.item.name }}"

    - name: Add Jenkins agents using CLI
      shell: |
        java -jar {{ jenkins_cli_path }} -s {{ jenkins_url }} -auth {{ jenkins_user }}:{{ jenkins_token }} create-node < ./tmp/{{ item.name }}.xml
      loop: "{{ agents }}"
