[Unit]
Description=Gunicorn instance to serve peak Flask app
After=network.target

[Service]
User=vagrant
Group=www—data
WorkingDirectory=/opt/PCC-DevOps-Bootcamp/Python/TodoFlask-MySQL
Environment="PATH=/opt/PCC-DevOps-Bootcamp/Python/TodoFlask-MySQL/venv/bin"
ExecStart=/opt/PCC-DevOps-Bootcamp/Python/TodoFlask-MySQL/venv/bin/gunicorn --workers 2 --bind 0.0.0.0:5000 -m 007 server:app

[Install]
WantedBy=multi-user.target